<ion-header>
  <ion-toolbar>
    <!-- ToolBar when search not clicked -->
    <ion-title *ngIf="!isSearchBarOpened">Olá usuário =)</ion-title>
    <ion-buttons slot="secondary" *ngIf="!isSearchBarOpened">
      <ion-button (click)="clickOnSearchIcon(searchBarInput)">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="!isSearchBarOpened">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- ToolBar when search clicked -->
    <ion-searchbar
      [hidden]="!isSearchBarOpened"
      showCancelButton="always"
      animated
      (ionCancel)="isSearchBarOpened = false"
      (ionInput)="onSearch($event)"
      #searchBarInput
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" class="mapDiv"></div>
  <div class="leaflet-top leaflet-right">
    <ion-button expand="block" fill="outline">
      <ion-icon slot="icon-only" name="locate"></ion-icon>
    </ion-button>
  </div>
</ion-content>
