<ion-header>
  <ion-toolbar>
    <ion-title>unidades-de-saude</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of dataList">
      <app-item-unidade-saude [unidade]="item"></app-item-unidade-saude>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
